@keyframes min_height {
    from { max-height: 49px }
    to { max-height: 0px }
}
    .anm_min_height {
        max-height: 49px;
        animation-name: min_height;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
        overflow: hidden;
    }
@keyframes max_height {
    from { max-height: 0px }
    to { max-height: 49px }
}
    .anm_max_height {
        max-height: 0;
        animation-name: max_height;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
        overflow: hidden;
    }
    .n_max-height {
        max-height: 0;
        overflow: hidden;
    }