/* Centralizar DIV */
.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
}
/* Fim da centralização da div */

body {
    min-width: 320px;
}
ion-item {
    --background: none;
}
.no_box_shadow {
    box-shadow: none;
}
.pointer {
    cursor: pointer;
}
.color_light {
    color: #fff;
}
.height0 {
    animation-name: height0;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    overflow: hidden;
}
.height72 {
}