#main_home {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}
#links_home ion-card {
    max-width: 155px;
    margin: 5px auto;
    padding: 10px;
    height: 210px;
    border-radius: 10px;
    background: #fff;
}
#links_home ion-card:nth-child(7) {
    padding-top: 35px;
}
#fab_hearth {
    position: absolute;
    bottom: 10px;
    left: 10px;
    animation-name: pulse;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    from {width: 50px}
    to {width: 52px}
}