body {
    background: #0459a9ff   ;
}
ion-content {
    --background: none;
}
ion-slides {
    min-height: 100%;   
}

/* Login */ 
ion-input {
    color: #0459A9;
}
#login {
    width: calc(100% - 56px);
}
#logo {
    width: 7.5em;
}
#login {
    max-width: 300px;
}
@media (max-height: 519px) {
    #logo {
        width: 5.5em;
    }
}
#about {
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Home */
ion-toolbar {
    --background: #0459A9;;
}
#home {
    width: 100%;
    height: 100vh;
    background: #0459A9;
    position: absolute;
    top: 0;
}
ion-card-content {
    color: #fff;
}
#recuperar_senha {
    --padding-start: 0;
}
#recuperar_senha ion-item:nth-child(1) {
    --padding-start: 0;
}
#recuperar_senha ion-item:nth-child(1) ion-label {
    margin-left: -12px;
} 
@media (max-width: 359px) {
    #recuperar_senha ion-label {
        font-size: 14px;
    }
}

/* Base */
.io_bg_item {
    --background: #fff;
}
.io_bg_card {
    background: #0459A9;
}

/* Cadastro */

#cadastro {
    max-width: 320px;
    position: relative;
}
#cadastro img {
    width: 70px;
    position: absolute;
    top: 0;
    left: 0;
}

