ion-input {
    background: #fff;
    border-radius: 7px;
    padding: 0;
    overflow: hidden;
    border: 1px solid #bbb;

    ion-icon {
        //background: var(--rajus-color-text);
        padding: 12px;
        margin-right: 10px;
    }
}

.input_numero {
    width: 60px;
    text-align: center;
}

.input_endereco {
    width: calc(100% - 95px);
    padding: 0;
}