ion-toolbar {
    --background: url('./../../../../assets/imgs/bg.jpg');
}
.informacoes_medicas {
    max-width: 400px;
}
.infos {
    background: url('../../../../assets/imgs/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
ion-label {
    margin-right: 30px;
}