<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Caixa de ferramentas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="shadow_none infos ion-padding">
    <ion-row>
      <ion-label class="info_1">
        <h2><strong>Minhas informações pessoais</strong></h2>
        <p><strong>Nome:</strong> Jonas Ewerton Vieira Magalhães</p>
        <p><strong>Idade:</strong> 29 anos</p>
        <p><strong>Sexo:</strong> Masculino</p>
        <p><strong>Data de nascimento:</strong> 01/09/1990</p>
        <p><strong>Contato emergêncial:</strong> (82) 99622-5171</p>
      </ion-label>

      <ion-row justify-content-between class="informacoes_medicas">
        <ion-label>
          <p><strong>Altura:</strong> 1,76m</p>
          <p><strong>Peso:</strong> 74kg</p>
          <p><strong>IMC: </strong></p>
          <p><strong>Tipo sanguíneo:</strong> O negativo</p>
        </ion-label>
        <ion-label>
          <p><strong>Marca passo?</strong> não</p>
          <p><strong>Grávida?</strong> não</p>
          <p><strong>Deficiência física?</strong> não</p>
        </ion-label>
      </ion-row>
    </ion-row>
  </ion-card>

  <ion-button expand="block">Medir pressão</ion-button>
  <ion-button expand="block">Medir glicemia</ion-button>
  <ion-button expand="block">Acompanhamento água</ion-button>
  <ion-button expand="block">Caixa de remédios</ion-button>
  <ion-button expand="block">Medir IMC</ion-button>
</ion-content>