<div class="area-preregister">
    <div class="info">
        <p>Gostaria de finalizar o registro para ter acesso a todas as nossa funcionalidades?</p>
    </div>

    <div class="cards-link">
        <mat-card class="cards-link" routerLink="/postos-atendimento">Postos de atendimento
            <img src="./../../../../assets/icons/register.svg">
        </mat-card>

        <mat-card class="cards-link" routerLink="/agenda">Agenda Médica
            <img src="./../../../../assets/icons/agenda.svg">
        </mat-card>

        <mat-card class="cards-link" routerLink="/telefones-emergenciais">Telefones emergênciais
            <img src="./../../../../assets/icons/telefone.svg">
        </mat-card>

        <mat-card class="cards-link" routerLink="/minhas-informacoes">Minhas informações
            <img src="./../../../../assets/icons/user.svg">
        </mat-card>
    </div>

    <img class="logout" (click)="logout()" src="./../../../../assets/icons/logout.svg">

</div>