.menu_home {
    width: 320px;   
    height: 45px;
    margin: 15px auto;
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    text-align: left;

    ion-icon {
        position: absolute;
        right: 15px;
    }
}