<ion-content class="bg_none swiper-no-swiping">

  <img alt="Logo Rajus" class="align_center block" src="../../../assets/imgs/rajus.svg">

  <ion-card class="shadow_none ion-text-center">

    <ion-card-header>
      <ion-card-title color="primary">Rajus</ion-card-title>
      <ion-card-subtitle class="text-transform_none">Trataremos de te auxiliar a encontrar postos de atendimento e medicamentos necessários para sua
        saúde.</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating" color="primary">Email</ion-label>
        <ion-input autofocus="true" clearInput="true" type="mail" [(ngModel)]="user.email" name="user.email">
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom" *ngIf="inputPassword" id="input-password">
        <ion-label position="floating" color="primary">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="user.password" name="user.password"></ion-input>
      </ion-item>

      <ion-slides #slides>
        <ion-slide>
          <ion-button class="ion-margin-bottom text-transform_none" expand="block" (click)="acessarOrRegister('Acessar')">Acessar
          </ion-button>
        </ion-slide>
        <ion-slide>
          <ion-button class="ion-margin-bottom text-transform_none" expand="block" (click)="acessarOrRegister('Recuperar')">Recuperar
          </ion-button>
        </ion-slide>
        <ion-slide>
          <ion-button class="ion-margin-bottom text-transform_none" expand="block" (click)="acessarOrRegister('Cadastrar')">Cadastrar
          </ion-button>
        </ion-slide>
      </ion-slides>

      <ion-card-subtitle class="ion-margin-bottom text-transform_none" color="primary">Que tal um clique para acessar?</ion-card-subtitle>

      <ion-slides #slidesGoogle>
        <ion-slide>
          <ion-button class="ion-margin-bottom text-transform_none" expand="block" (click)="acessarComGmail()" color="light">
            <ion-icon src="../../../assets/imgs/google.svg" class="ion-margin-end"></ion-icon>
            Acessar com Gmail
          </ion-button>
        </ion-slide>

        <ion-slide>
          <ion-button class="ion-margin-bottom text-transform_none" expand="block" (click)="acessarComGmail()" color="light">
            <ion-icon src="../../../assets/imgs/google.svg" class="ion-margin-end"></ion-icon>
            Cadastrar com Gmail
          </ion-button>
        </ion-slide>
      </ion-slides>

      <ion-row justify-content-around>
        <ion-button id="button-acessar" style="display: none;" class="pointer text-transform_none buttons-bottom" (click)="alternarBotoes(0)">Acessar</ion-button>
        <ion-button id="button-recuperar" class="pointer text-transform_none buttons-bottom" (click)="alternarBotoes(1)">Recuperar senha
        </ion-button>
        <ion-button id="button-cadastrar" class="pointer text-transform_none buttons-bottom" (click)="alternarBotoes(2)">Cadastrar</ion-button>
      </ion-row>

    </ion-card-content>
  </ion-card>
</ion-content>