<ion-content class="bg_none ion-margin">

  <img alt="Logo Rajus" class="align_center block" src="../../../assets/imgs/rajus.svg">

  <ion-card class="shadow_none ion-text-center">

    <ion-card-header>
      <ion-card-title color="primary">Rajus</ion-card-title>
      <ion-card-subtitle>Responsabilidade e controle dos resíduos contaminados para o equilíbrio e segurança do meio
        ambiente</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="block" class="ion-margin-bottom" routerLink="/administrador" *ngIf="this.auth.userData.user.perfil.indexOf('administrador') >= 0">Administrador</ion-button>
      <ion-button expand="block" class="ion-margin-bottom" routerLink="/paciente" *ngIf="this.auth.userData.user.perfil.indexOf('paciente') >= 0">Paciente</ion-button>
      <ion-button expand="block" class="ion-margin-bottom" routerLink="/prescritor" *ngIf="this.auth.userData.user.perfil.indexOf('prescritor') >= 0">Prescritor</ion-button>
      <ion-button expand="block" class="ion-margin-bottom" routerLink="/root" *ngIf="this.auth.userData.user.perfil.indexOf('root') >= 0">Root</ion-button>
    </ion-card-content>

  </ion-card>

  <ion-row justify-content-end>
    <ion-button class="ion-margin-bottom ion-margin-end" color="danger" (click)="deslogar()">Deslogar</ion-button>
  </ion-row>
</ion-content>