<div>
    <div class="info margin-auto">
        <p class="text-center">Gostaria de finalizar o registro para ter acesso a todas as nossa funcionalidades?</p>
    </div>

    <div class="cards-link">
        <mat-card class="cards-link" routerLink="/pre-register">Pré Registro
            <img src="./../../../../assets/icons/register.svg" alt="Logo Registro">
        </mat-card>

        <mat-card class="cards-link" routerLink="/telefones-emergenciais">Telefones emergênciais
            <img src="./../../../../assets/icons/telefone.svg" alt="Logo Telefone">
        </mat-card>
    </div>

    <img class="logout" (click)="logout()" src="./../../../../assets/icons/logout.svg" alt="Logo Deslogar">
</div>