.info {
    border-top: 30px solid blue;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    width: 75%;
    margin: auto;
    text-align: center;
}
.inicio {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    top: -15px;
    color: #fff;
    font-weight: 500;
}

/* Complemento da página atual */

.mat-expansion-panel {
    margin: 12px 2% 0px 2%;
}