<div class="area-preregister">
    <div class="info">
        <p>Você terá acesso a todas as nossas funcionalidades assim que acabar seu registro.</p>
        <!--       <div class="buttons-preregister">
            <button mat-raised-button color="primary">Sim</button>
            <button mat-raised-button color="warn">Agora não</button>
        </div> -->
    </div>

    <mat-vertical-stepper>
        <mat-step label="Dados de acesso">
            <form class="register">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input [value]="user.email" [(ngModel)]="user.email" name="user.email" type="email" matInput placeholder="Digite aqui seu email" disabled="true" class="bgnone">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Senha</mat-label>
                    <input type={{inputSenha}} matInput placeholder="Digite aqui sua senha" [(ngModel)]="user.senha" name="user.senha" class="bgnone">
                    <mat-icon matSuffix *ngIf=visibilityPassword (click)="showPassword()">visibility</mat-icon>
                    <mat-icon matSuffix *ngIf=!visibilityPassword (click)="showPassword()">visibility_off</mat-icon>

                </mat-form-field>

                <button mat-stroked-button matStepperNext>Avançar</button>
            </form>
        </mat-step>

        <mat-step label="Dados Pessoais">
            <mat-form-field appearance="outline">
                <mat-label>Nome Completo</mat-label>
                <input [value]="user.displayName" matInput placeholder="Digite aqui seu nome" [(ngModel)]="user.nomeCompleto" name="user.nomeCompleto" class="bgnone">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input type="text" matInput placeholder="Digite aqui seu CPF" (keyup)="formaterCPF()" [(ngModel)]="user.cpf" name="user.cpf" maxlength="14" class="bgnone">
                <mat-hint *ngIf="!cpfValido">Cpf inválido</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Número SUS</mat-label>
                <input matInput placeholder="Digite o número do cartão do SUS" [(ngModel)]="user.numeroSus" name="user.numeroSus" class="bgnone">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Telefone</mat-label>
                <input type="tel" matInput placeholder="Digite aqui seu telefone" (keyup)="formatarTel()"
                    [(ngModel)]="user.telefone" name="user.telefone" maxlength="16" class="bgnone">
                <mat-hint *ngIf="!telefoneValido">digite um telefone válido</mat-hint>
            </mat-form-field>

            <div>
                <button mat-stroked-button matStepperPrevious>Voltar</button>
                <button mat-stroked-button matStepperNext style="margin-left: 24px;">Avançar</button>
            </div>
        </mat-step>
        <mat-step label="Finalizar">
            <p>Após finalizar o cadastro, será necessário se dirigir a algum posto de atendimento para a confirmação do
                mesmo. A partir daí, poderá usar todas as nossas funcionalidades</p>

            <button mat-raised-button class="btn-sucess" (click)="cadastrar()">Finalizar Cadastro</button>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="phone">
            <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="chat">
            <mat-icon>forum</mat-icon>
        </ng-template>
    </mat-vertical-stepper>

    <h4 class="inicio" routerLink="/home-pre-register">Retornar ao ínício</h4>

</div>