.info {
    border-top: 30px solid blue;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;
    width: 75%;
    margin: auto;
}
.info p { text-align: center; }

.cards-link mat-card {
    background-color: blue; 
    color: #fff;
    max-width: 300px;
    margin:  0 auto 15px auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}
.cards-link mat-card img {
    position: absolute;
    right: 15px;
    top: 8px;
    max-height: 30px;
}
.logout {
    width: 30px;
    position: absolute;
    top: 25px;
    right: 10px;
}

mat-vertical-stepper {
    background: none;
}
.mat-form-field {
    width: 100%;
}
.inicio {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    top: -15px;
    color: #fff;
    font-weight: 500;
} 