<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rajus Alagoas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_none" class="swiper-no-swiping bg_none">
  <ion-slides>
    <ion-slide>
      <div>
        <ion-card class="shadow_none">
          <ion-card-title>Consultar paciente</ion-card-title>

          <ion-row justify-content-around>
          <ion-item class="bg_none" lines="none">
            <ion-input type="text" placeholder="Digite o CPF do paciente" [(ngModel)]="paciente.cpf" name="paciente.cpf"
              (keyup)="validarCpf()">
              <ion-icon name="business" color="light" [ngClass]="paciente.cpfValidator"></ion-icon>
            </ion-input>
          </ion-item>

            <ion-button (click)="consultar()">Consultar</ion-button>
          </ion-row>
        </ion-card>

        <ion-card class="shadow_none" ion-text-center>
          <ion-card-title class="ion-text-center" color="primary"
            *ngIf="this.auth.PacienteAtivo.user.nome !== undefined">
            Paciente</ion-card-title>
          <ion-card-subtitle class="ion-text-center">{{this.auth.PacienteAtivo.user.nome}}</ion-card-subtitle>
          <ion-card-content>
            <ion-row>
              <ion-item class="bg_none" lines="none">
                <ion-label *ngIf="this.auth.PacienteAtivo.user.nome !== undefined">
                  <p></p>
                  <p>Email: {{this.auth.PacienteAtivo.user.email}}</p>
                  <p>Telefone: {{this.auth.PacienteAtivo.user.telefone}}</p>
                  <p>Sus: {{this.auth.PacienteAtivo.user.sus}}</p>
                </ion-label>
              </ion-item>

              <ion-item class="bg_none" lines="none" *ngIf="this.auth.PacienteAtivo.user.dados !== undefined">
                <ion-label>
                  <p>Idade: </p>
                  <p>Peso: </p>
                  <p>IMC: </p>
                  <p>Pressão: </p>
                </ion-label>
              </ion-item>
            </ion-row>

            <ion-card-subtitle class="ion-text-center" *ngIf="this.auth.PacienteAtivo.user.status === 'pré cadastrado'">
              Este
              usuário não foi ativado ainda</ion-card-subtitle>
            <ion-row justify-content-end>
              <ion-button *ngIf="this.auth.PacienteAtivo.user.status === 'pré cadastrado'" (click)="ativarUsuario()">
                Ativar</ion-button>
            </ion-row>

            <ion-row justify-content-end>
              <ion-button *ngIf="this.auth.PacienteAtivo.user.status === 'ativado'" (click)="atendimento('inicio')">
                Iniciar atendimento</ion-button>
            </ion-row>
          </ion-card-content>

        </ion-card>
      </div>
    </ion-slide>

    <ion-slide>
      <ion-card class="shadow_none">
        <ion-card-title>Informações do paciente</ion-card-title>
        <ion-card-content>

          <ion-row justify-content-start>

            <ion-item class="ion-margin-end bg_none" lines="none">
              <ion-label>
                <ion-card-subtitle color="primary">Informações pessoais</ion-card-subtitle>
                <p>Nome: Jonas Ewerton Vieira Magalhães</p>
                <p>Data de nascimento: 01/09/1990</p>
                <p>Idade: 29 anos</p>
              </ion-label>
            </ion-item>

            <ion-item class="bg_none" lines="none">
              <ion-label>
                <ion-card-subtitle color="primary">Informações médicas</ion-card-subtitle>
                <p>Peso: 60Kg</p> <input type="text" *ngIf="inputsPrescritor">
                <p>Altura: 1,85m</p> <input type="number" *ngIf="inputsPrescritor">
                <p>Pressão: 12/8</p> <input type="number" *ngIf="inputsPrescritor"><input type="number" *ngIf="inputsPrescritor">
                <p>Alergias: Paracetamol</p> <input type="text" *ngIf="inputsPrescritor">
              </ion-label>
            </ion-item>

          </ion-row>

          <ion-row>
            <ion-label>
              <ion-card-subtitle class="ion-text-start">Medicações atuais</ion-card-subtitle>
              <p><strong>Paracetamol</strong> - A cada 2 horas</p>
            </ion-label>
          </ion-row>

          <ion-row justify-content-end>
            <ion-button *ngIf="!inputsPrescritor" (click)="atualizarInformacoes('iniciar')">Atualizar informações</ion-button>
            <ion-button *ngIf="inputsPrescritor" (click)="atualizarInformacoes('finalizar')">Concluir atualizações</ion-button>
            <ion-button *ngIf="!inputsPrescritor" (click)="atendimento('return')">Retornar</ion-button>
            <ion-button *ngIf="!inputsPrescritor" (click)="atendimento('toMedicacoes')">Avançar</ion-button>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="shadow_none">
        <ion-card-title class="ion-margin">Medicações atuais</ion-card-title>

        <ion-row>
          <ion-item class="bg_none" lines="none" class="item_remedio ion-margin">
            <ion-label>
              <h3>Nome: Paracetamol</h3>
              <p>Período: a cada 6 horas </p>
              <p>Tempo restante: 4 dias</p>
              <ion-button color="danger">Excluir</ion-button>

            </ion-label>
          </ion-item>
          <ion-item class="bg_none" lines="none" class="item_remedio ion-margin">
            <ion-label>
              <h3>Nome: Paracetamol</h3>
              <p>Período: a cada 6 horas </p>
              <p>Tempo restante: 4 dias</p>
            </ion-label>

          </ion-item>
        </ion-row>

        <ion-row>
          <ion-button>Adicionar nova medicação</ion-button>
        </ion-row>

        <ion-row>
          <ion-button (click)="atendimento('return')">Retornar</ion-button>
          <ion-button (click)="atendimento('toMedicacoes')">Avançar</ion-button>
        </ion-row>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card class="shadow_none">
        <ion-card-title>Conclusão</ion-card-title>
        <ion-card-content>
          <h2>Informações adicionadas</h2>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>