<ion-header>
  <ion-toolbar>
    <ion-title color="light">Rajus Alagoas</ion-title>
    <ion-buttons slot="end">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding bg_none min_width_360">

  <div id="timeline">
    <div id="divisoria"></div>

    <ion-card class="bg_white margin_ll margin_tnone overflow_visible shadow_none" *ngFor="let pos of agenda">
      <ion-row>

        <ion-label class="circle-timeline">
          <ion-icon name="circle" color="danger"></ion-icon>
        </ion-label>

        <ion-label class="margin_r margin_l padding">
          <h1 class="color">{{pos.hora}}</h1>
          <h2><strong>Medicação: {{pos.medicacao}}</strong></h2>
          <p>Posologia: {{pos.posologia}}</p>
        </ion-label>

        <ion-label class="clock-icon">
          <ion-icon name="clock" color="warning" size="large"></ion-icon>
        </ion-label>
      </ion-row>
    </ion-card>
  </div>

  <!-- <app-timeline endIcon="call">
    <timeline-item *ngFor="let item of items">
      <timeline-time [time]="item.time"></timeline-time>
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-card>
        <ion-card-header>
          {{item.title}}
        </ion-card-header>
        <ion-card-content>
          {{item.content}}
        </ion-card-content>
      </ion-card>
    </timeline-item>

  </app-timeline> -->
</ion-content>