ion-toolbar {
   --background: url('./../../../../assets/imgs/bg.jpg')
}

.circle-timeline {
   margin-left: -33px;
   padding: 2px;
   width: 15px;
   height: 15px;
   font-size: 0.3em;
   color: #fff;
   background: blue;
   border-radius: 50%;
}
.clock-icon {
   position: absolute;
   right: 8px;
   top: 20%;
}

#timeline {
   overflow: hidden;
   position: relative;
}

#divisoria {
   position: absolute;
   border-radius: 20px;
   background: blue;
   width: 5px;
   height: 100%;
}