#agenda_datas {
    max-width: 120px;
    float: left;
    clear: both;
}
#agenda_datas ion-card:nth-child(1) {
    background: #ddd;
    color: #0459A9;
}
#agenda_medicacoes div {
    margin: 15px;
}