.container div {
    z-index: 1000;
}
ion-tabs {
    z-index: 1;
}
ion-inputs {
    overflow: hidden;
}
#title_login {
    max-width: 170px;
    margin: auto;
}
#title_login h1 {
    color: #0459A9;
    font-weight: bold;
}

.inputs_login {
    border: 1px solid #0459A9;
    border-radius: 50px;
}
#btn_acessar, #btn_gmail {
    border: 1px solid #0459A9;
    border-radius: 50px;
    overflow: hidden;
    --box-shadow: none;
}
#btn_gmail {
    --background: #fff;
    color: #0459A9;
}

#img_lands_logo {
    width: 150px;
    margin-right: 30px;
}

@media (orientation: portrait) {
    #aside_login, #img_lands_logo {
        display: none;
    }
}
@media (orientation: landscape) and (max-width: 719px) {
    #img_lands_logo {
        display: none;
    }
    #main_login {
        width: 90%;
        height: 90%;
    }
    #login_input_senha {

    }
    #aside_login {
        display: none;
    }
    #btn_gmail {
        margin-bottom: 20px;
    }
}

@media (orientation: landscape) and (min-width: 720px) {
    #img_lands_logo {
        display: none;
    }
    #main_login {
        margin: 80px;
    }
    #aside_login {
        height: 100%;
        background: #0459A9;
    }
}