<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rajus Alagoas</ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg_none">
  <ion-card class="shadow_none">

    <ion-card-title>Informações principais</ion-card-title>
    <ion-item class="bg_none" lines="none">
      <ion-input type="text" placeholder="Nome Completo">
        <ion-icon name="business" size="large" color="primary"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-card-title>Informações pessoais</ion-card-title>

    <ion-card-title>Informações médicas</ion-card-title>

  </ion-card>

  <ion-row>
    <ion-button>Atualizar informações</ion-button>
  </ion-row>
</ion-content>